# 1. Function to calculate the sum and average of three float numbers

In [3]:
def calculate_sum_and_average(num1, num2, num3):
    # Calculate the sum
    total_sum = num1 + num2 + num3

    # Calculate the average
    average = total_sum / 3

    return total_sum, average

# Input: Three float numbers
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))

# Get the sum and average
total_sum, average = calculate_sum_and_average(num1, num2, num3)

# Output the results
print(f"Sum of the three numbers: {total_sum}")
print(f"Average of the three numbers: {average}")

Enter the first number: 12
Enter the second number: 54
Enter the third number: 76
Sum of the three numbers: 142.0
Average of the three numbers: 47.333333333333336

# 2. Function to calculate the volume of a sphere

In [4]:
import math

# Function to calculate the volume of a sphere
def calculate_sphere_volume(radius):
    # Formula for volume of a sphere: (4/3) * π * r^3
    volume = (4/3) * math.pi * (radius**3)
    return volume

# Given radius
radius = 6  # cm

# Calculate the volume
volume = calculate_sphere_volume(radius)

# Output the result
print(f"The volume of the sphere with radius {radius} cm is {volume:.2f} cubic centimeters.")

The volume of the sphere with radius 6 cm is 904.78 cubic centimeters.

#  3. Area of a Circle

In [5]:
def area_of_circle(radius):
    return math.pi * radius ** 2

radius = float(input("Enter radius: "))
print(f"Area: {area_of_circle(radius)} cm²")

Enter radius: 56
Area: 9852.03456165759 cm²

# 4. Compute Simple Interest

In [6]:
def simple_interest(principal, rate, time):
    return (principal * rate * time) / 100

p = float(input("Principal: "))
r = float(input("Rate: "))
t = float(input("Time: "))
print(f"Simple Interest: {simple_interest(p, r, t)}")

Principal: 100
Rate: 5
Time: 3
Simple Interest: 15.0

# 5. Swap Two Numbers Without Third Variable

In [7]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
a, b = b, a
print(f"Swapped: a = {a}, b = {b}")

Enter first number: 54
Enter second number: 76
Swapped: a = 76, b = 54

# 6. Celsius to Fahrenheit

In [8]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

c = float(input("Enter temperature in Celsius: "))
print(f"Fahrenheit: {celsius_to_fahrenheit(c)}")

Enter temperature in Celsius: 57
Fahrenheit: 134.6

# 7. Convert Days to Years, Months, Weeks, and Days

In [9]:
def convert_days(days):
    years = days // 365
    days %= 365
    months = days // 30
    days %= 30
    weeks = days // 7
    days %= 7
    return years, months, weeks, days

days = int(input("Enter number of days: "))
y, m, w, d = convert_days(days)
print(f"Years: {y}, Months: {m}, Weeks: {w}, Days: {d}")

Enter number of days: 35
Years: 0, Months: 1, Weeks: 0, Days: 5

# 8. Gravitational Force Between Two Objects

In [10]:
def gravitational_force(m1, m2, d, G=6.674 * (10**-11)):
    return G * (m1 * m2) / (d ** 2)

m1 = float(input("Mass of object 1: "))
m2 = float(input("Mass of object 2: "))
d = float(input("Distance between objects: "))
print(f"Gravitational Force: {gravitational_force(m1, m2, d)} N")

Mass of object 1: 45
Mass of object 2: 12
Distance between objects: 5
Gravitational Force: 1.4415839999999997e-09 N

# 9. Even or Odd

In [11]:
num = int(input("Enter a number: "))
if num % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 52
Even

# 10. Compare with 15

In [12]:
num = int(input("Enter a number: "))
diff = abs(15 - num)
if num > 15:
    print(2 * diff)
else:
    print(4 * diff)

Enter a number: 61
92

# 11. Largest Among Three Numbers

In [15]:
# Input three numbers individually
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))

# Find and print the largest number
largest = max(a, b, c)
print(f"The largest number is: {largest}")

Enter first number: 54
Enter second number: 87
Enter third number: 90
The largest number is: 90

# 12. Check Triangle Type (Equilateral, Scalene, Isosceles)

In [18]:
a, b, c = map(int, input("Enter sides of triangle: ").split())
if a == b == c:
    print("Equilateral")
elif a != b != c:
    print("Scalene")
else:
    print("Isosceles")

Enter sides of triangle: 4 5 5
Isosceles

# 13. Check Leap Year

In [20]:
year = int(input("Enter year: "))
if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
    print("Leap Year")
else:
    print("Not a Leap Year")

Enter year: 2024
Leap Year

# 14. Calculate Grade Based on Marks

In [1]:
# Input four marks from the user
marks = []
for i in range(4):
    mark = float(input(f"Enter mark {i+1}: "))
    marks.append(mark)

# Calculate average of the marks
avg = sum(marks) / len(marks)

# Determine the grade based on the average
if avg >= 75:
    grade = "Grade A"
elif avg >= 60:
    grade = "Grade B"
elif avg >= 40:
    grade = "Grade C"
else:
    grade = "Grade D"

# Print the grade
print(f"Average Marks: {avg:.2f}")
print(f"Your grade is: {grade}")

Enter mark 1: 34
Enter mark 2: 65
Enter mark 3: 10
Enter mark 4: 90
Average Marks: 49.75
Your grade is: Grade C

# 15. Simple Calculator

In [2]:
def calculator(a, b, op):
    if op == '+':
        return a + b
    elif op == '-':
        return a - b
    elif op == '*':
        return a * b
    elif op == '/':
        return a / b
    else:
        return "Invalid operation"

a = float(input("Enter first number: "))
b = float(input("Enter second number: "))
op = input("Enter operation (+, -, *, /): ")
print(f"Result: {calculator(a, b, op)}")

Enter first number: 56
Enter second number: 90
Enter operation (+, -, *, /): -
Result: -34.0

# 16. Find the Roots of a Quadratic Equation

In [3]:
import math

def quadratic_roots(a, b, c):
    discriminant = b**2 - 4*a*c
    if discriminant > 0:
        root1 = (-b + math.sqrt(discriminant)) / (2*a)
        root2 = (-b - math.sqrt(discriminant)) / (2*a)
        return f"Roots are real and different: {root1}, {root2}"
    elif discriminant == 0:
        root = -b / (2*a)
        return f"Roots are real and the same: {root}"
    else:
        return "Roots are complex and different"

a = int(input("Enter coefficient a: "))
b = int(input("Enter coefficient b: "))
c = int(input("Enter coefficient c: "))
print(quadratic_roots(a, b, c))

Enter coefficient a: 5
Enter coefficient b: 7
Enter coefficient c: 3
Roots are complex and different

# 17. Print 1 to n

In [4]:
def print_numbers(n):
    for i in range(1, n+1):
        print(i, end=' ')

n = int(input("Enter the value of n: "))
print_numbers(n)

Enter the value of n: 61
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61

# 18. Sum of Natural Numbers

In [5]:
def sum_natural_numbers(n):
    return n * (n + 1) // 2

n = int(input("Enter the value of n: "))
print(f"Sum of natural numbers up to {n}: {sum_natural_numbers(n)}")

Enter the value of n: 52
Sum of natural numbers up to 52: 1378

# 19. Sum of Digits

In [6]:
def sum_of_digits(num):
    return sum(int(digit) for digit in str(num))

num = int(input("Enter a number: "))
print(f"Sum of digits: {sum_of_digits(num)}")

Enter a number: 65
Sum of digits: 11

# 20. Print Factors of a Number

In [8]:
def print_factors(num):
    print(f"Factors of {num}:")
    for i in range(1, num + 1):
        if num % i == 0:
            print(i, end=' ')

num = int(input("Enter a number: "))
print_factors(num)

Enter a number: 8
Factors of 8:
1 2 4 8

# 21. Reverse of a Number

In [9]:
def reverse_number(num):
    return int(str(num)[::-1])

num = int(input("Enter a number: "))
print(f"Reverse: {reverse_number(num)}")

Enter a number: 58
Reverse: 85

# 22. Factorial of a Given Number

In [13]:
def factorial(num):
    if num == 0 or num == 1:
        return 1
    else:
        return num * factorial(num - 1)

num = int(input("Enter a number: "))
print(f"Factorial of {num}: {factorial(num)}")

Enter a number: 5
Factorial of 5: 120

# 23. Check if a Number is Palindrome

In [14]:
def is_palindrome(num):
    return str(num) == str(num)[::-1]

num = int(input("Enter a number: "))
if is_palindrome(num):
    print(f"{num} is a palindrome")
else:
    print(f"{num} is not a palindrome")

Enter a number: 656
656 is a palindrome

# 24. Check if a Number is Prime

In [15]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

num = int(input("Enter a number: "))
if is_prime(num):
    print(f"{num} is prime")
else:
    print(f"{num} is not prime")

Enter a number: 7
7 is prime

# 25. Check if a Number is Armstrong

In [16]:
def is_armstrong(num):
    num_str = str(num)
    power = len(num_str)
    return num == sum(int(digit) ** power for digit in num_str)

num = int(input("Enter a number: "))
if is_armstrong(num):
    print(f"{num} is an Armstrong number")
else:
    print(f"{num} is not an Armstrong number")

Enter a number: 65
65 is not an Armstrong number

# 26. Fibonacci Series of n Terms

In [18]:
def fibonacci(n):
    fib_series = [0, 1]
    for i in range(2, n):
        fib_series.append(fib_series[-1] + fib_series[-2])
    return fib_series[:n]

n = int(input("Enter number of terms: "))
print(f"Fibonacci series: {fibonacci(n)}")

Enter number of terms: 5
Fibonacci series: [0, 1, 1, 2, 3]

# 27. Multiplication Table

In [19]:
def multiplication_table(num):
    for i in range(1, 11):
        print(f"{num} x {i} = {num * i}")

num = int(input("Enter a number: "))
multiplication_table(num)

Enter a number: 12
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

# 28. Take Input from User in a List and Print It

In [20]:
user_list = input("Enter elements separated by space: ").split()
print("List: ", user_list)

Enter elements separated by space: 45 56
List:  ['45', '56']

# 29. Find the Average of n Numbers Using List

In [21]:
def average_of_list(numbers):
    return sum(numbers) / len(numbers)

numbers = list(map(float, input("Enter numbers separated by space: ").split()))
print(f"Average: {average_of_list(numbers)}")

Enter numbers separated by space: 45 61
Average: 53.0

# 30. Find the Largest Element in the List

In [22]:
def largest_in_list(numbers):
    return max(numbers)

numbers = list(map(int, input("Enter numbers separated by space: ").split()))
print(f"Largest element: {largest_in_list(numbers)}")

Enter numbers separated by space: 45 79
Largest element: 79

# 31. Python Program for Linear Search

In [1]:
def linear_search(lst, target):
    for i in range(len(lst)):
        if lst[i] == target:
            return i
    return -1

lst = list(map(int, input("Enter the list of numbers seperated by space: ").split()))
target = int(input("Enter the target number: "))
index = linear_search(lst, target)

if index != -1:
    print(f"{target} found at index {index}")
else:
    print(f"{target} not found in the list")

Enter the list of numbers: 24 1 6 78 95
Enter the target number: 78
78 found at index 3

# 32. Convert Input Lines to Capitalized Sentences

In [3]:
lines = []
while True:
    line = input("Enter a line (or press Enter to stop): ")
    if line:
        lines.append(line.upper())
    else:
        break

for line in lines:
    print(line)

Enter a line (or press Enter to stop): this
Enter a line (or press Enter to stop): is
Enter a line (or press Enter to stop): CA1
Enter a line (or press Enter to stop): assignment
Enter a line (or press Enter to stop):
THIS
IS
CA1
ASSIGNMENT

# 33. Comma-Separated Numbers to List and Tuple

In [4]:
numbers = input("Enter comma-separated numbers: ").split(',')
lst = list(numbers)
tup = tuple(numbers)

print("List:", lst)
print("Tuple:", tup)

Enter comma-separated numbers: 33, 77, 31, 84
List: ['33', ' 77', ' 31', ' 84']
Tuple: ('33', ' 77', ' 31', ' 84')

# 34. Bank Account Balance Calculation from Transaction Log

In [1]:
balance = 0

while True:
    transaction = input("Enter transaction (D/W amount) or press Enter to stop: ")
    if not transaction:
        break
    type_, amount = transaction.split()
    amount = int(amount)
    

    if type_ == 'D':
        balance += amount
    elif type_ == 'W':
        balance -= amount

print(f"Net balance: {balance}")

Enter transaction (D/W amount) or press Enter to stop: D 300
Enter transaction (D/W amount) or press Enter to stop: D 600
Enter transaction (D/W amount) or press Enter to stop: W 500
Enter transaction (D/W amount) or press Enter to stop:
Net balance: 400